.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    color: orange;
    padding-left: 80px;
    padding-right: 80px;
}

.anchor a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.anchor a:hover {
    color: orange;
}